@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ssss</h1>
    <h1 class="display-4">Welcome ssss22^^</h1>
    <h1 class="display-4">Welcome ssss33^^</h1>
    <h1 class="display-4">Welcome ssss44^^</h1>
    <h1 class="display-4">Welcome ssss55^^</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
